version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: krosy/kittygram-backend:latest
    restart: always
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media
    depends_on:
      - postgres

  frontend:
    image: krosy/kittygram-frontend:latest
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  nginx:
    image: krosy/kittygram-nginx:latest
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - static:/usr/share/nginx/html/
      - media:/usr/share/nginx/html/media/
    depends_on:
      - backend
      - frontend
